.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  color:#004186;;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0.05px 0.05px 7px 0.1px black;
  border: 1px solid rgb(254, 254, 254);
  z-index: 100;
}
.dataBody
{
  width: 100%;
  margin: 55px 0px 75px 0px;
  overflow-y: auto;
  position: relative;
  flex-grow: 1;
}
.logo{
  padding: 5px;
  height: 40px;
}